p.one
{
border-style:ridge;
border-width:15px;
border-color:blue;
}
p.two
{
border-width:10px;
border-top-style:dotted;
border-right-style:solid;
border-bottom-style:groove;
border-left-style:ridge;
}
p.two1
{
border:5px;
border-color:blue;
border-style:double;
}
p.three
{
margin:25px 50px 75px 100px;
}
div
{
padding:125px 50px 75px 100px;
}
li
{
display:inline;
}
span
{
display:black;
}
a
{
display:block;
}
a:link,a:visited;{
color:red;
background-color:#f44336;
color:white;
padding:14px 25px;
text-align:center;
text-decoration:none;
display:inline-block;
}
a:hover,a:active
{
background-color:red;
}


